<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
      <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
          <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px; max-width: 600px !important;">

              <div class="row">
                <div class="col-12">
                  <h3>Recuperación de contraseña | Foto Online</h3>
                </div>
              </div>

              <!-- **SEND MAIL** -->
              <div *ngIf="stepformSendCode" [formGroup]="formSendCode" (keyup.enter)="sendCode()">

                <div class="row">
                  <div class="col-12">
                    <label>Ingresá tu correo electrónico y se le enviará un código para modificar su contraseña.</label>
                  </div>
                </div>

                <label for="email1" class="block text-900 text-xl font-medium mt-5">Correo</label>
                <div class="row">
                  <div class="col-12" style="display: flex; flex-direction: row; width: 100%;">

                    <div class="mr-4">
                      <input #inputEmail id="email1" formControlName="mail" type="text" placeholder="Ingrese correo" pInputText style="padding:1rem; width: 300px !important;">

                      <div class="mt-1" *ngIf="formSendCode.controls['mail'].invalid && (formSendCode.controls['mail'].dirty || formSendCode.controls['mail'].touched)">
                        <small class="text-danger" *ngIf="formSendCode.controls['mail'].errors?.['required']">
                          Debe ingresar un correo.
                        </small>
                        <small class="text-danger" *ngIf="formSendCode.controls['mail'].errors?.['maxlength']">
                          Máximo de caracteres alcanzado.
                        </small>
                        <small class="text-danger" *ngIf="formSendCode.controls['mail'].errors?.['pattern']">
                          Ingrese un email con el formato correcto.
                        </small>
                      </div>
                    </div>

                    <button pButton label="Enviar Código" class="p-button-success" [disabled]="submit || formSendCode.invalid" (click)="sendCode()" style="max-height: 50px;"></button>

                  </div>
                </div>
              </div>

              <!-- **ENTER CODE** -->
              <div *ngIf="stepformEnterCode" [formGroup]="formEnterCode" (keyup.enter)="enterCode()">
                <div class="row">
                  <div class="col-12">
                    <label><b>Revisa tu correo!</b> Recibirás un código para verificar aquí a fin de que puedas restablecer la contraseña de tu cuenta.</label>
                  </div>
                </div>

                <label for="email1" class="block text-900 text-xl font-medium mt-5">Código</label>

                <div class="row">
                  <div class="col-12" style="display: flex; flex-direction: row; width: 100%;">

                    <div class="mr-4">
                      <input #inputEmail id="email1" mask="000000" formControlName="code" type="number" placeholder="Ingrese su código" pInputText (keypress)="keyPressInputCode($event)" style="padding:1rem; width: 300px !important;">

                      <div class="mt-1" *ngIf="formEnterCode.controls['code'].invalid && (formEnterCode.controls['code'].dirty || formEnterCode.controls['code'].touched)">
                        <small class="text-danger" *ngIf="formEnterCode.controls['code'].errors?.['required']">
                          Debe ingresar un código.
                        </small>
                        <small class="text-danger" *ngIf="formEnterCode.controls['code'].errors?.['maxlength']">
                          Máximo de caracteres alcanzado.
                        </small>
                      </div>
                    </div>

                    <button pButton label="Verificar" class="p-button-success" [disabled]="formEnterCode.invalid" (click)="enterCode()" style="max-height: 50px;"></button>

                  </div>
                </div>
              </div>

              <!-- **RESET PASSWORD** -->
              <div *ngIf="stepformResetPassword" [formGroup]="formResetPassword" (keyup.enter)="resetPassword()">

                <div class="row">
                  <div class="col-12">
                    <label>Ingresá tu nueva contraseña.</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12" style="display: flex; flex-direction: row; width: 100%;">
                    <div class="mr-4">
                      <label for="email1" class="block text-900 text-xl font-medium mt-2">Contraseña</label>
                      <p-password placeholder="Contraseña" promptLabel="Ingrese una contraseña" weakLabel="Débil" mediumLabel="Medio" strongLabel="Fuerte" ariaLabel="aria" id="password1" [feedback]="true" formControlName="password" [toggleMask]="true" styleClass="mb-4" inputStyleClass="w-full p-3 md:w-30rem">
                        <ng-template pTemplate="footer">
                            <p-divider></p-divider>
                            <p class="mt-2">Sugerencias</p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                <li>Al menos una minúscula</li>
                                <li>Al menos una mayúscula</li>
                                <li>Al menos un número</li>
                                <li>Mínimo 8 caracteres</li>
                            </ul>
                        </ng-template>
                      </p-password>
                    </div>
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col-12" style="display: flex; flex-direction: column; width: 100%;">
                    <label for="email1" class="block text-900 text-xl font-medium mt-2">Confirmar Contraseña</label>
                      <p-password id="password2" placeholder="Confirme contraseña" [feedback]="false" formControlName="confirmPassword" [toggleMask]="true" styleClass="mb-4" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                      <small class="mt-2 text-danger" *ngIf="(formResetPassword.controls['confirmPassword'].touched ||
                                                     formResetPassword.controls['confirmPassword'].dirty) &&
                                                     formResetPassword.controls['confirmPassword'].errors?.['notEquivalent']">
                        Las contraseñas deben coincidir.
                      </small>
                  </div>
                </div>

                <div class="row mt-5">
                  <div class="col-12">
                    <button pButton label="Restablecer contraseña" class="p-button-success" [disabled]="formResetPassword.invalid" (click)="resetPassword()" style="max-height: 50px;"></button>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

